body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
}


.App {
perspective: 500px;
height: 90vh;
}

.mainCont{
  transform: rotateY(var(--rotateX)) rotateX(var(--rotateY));
  width: fit-content;
  height: fit-content;
  display: flex;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cont {
 
  background-image: url(../src/vought_tower.webp);
background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outside{
  width: 30vw; 
  height: 75svh;
  background-position: center;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.soldierBoyParent{

 background-image: url(../src/Soldier-Boy-_-Guest-Appearance-on-Solid-Gold-1-33-screenshot-900x900.jpeg);
 

}


.middleCont {
  width: 55%;
  height: 80%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  position: relative;
    transform: translateZ(-20px);
  overflow: hidden;
  cursor: pointer;
}

.contBg::before {
  content: '';
  background-image: url(../src/vought_tower.webp);
  background-position: calc(50% + var(--canvasTranslateX)*1.2) calc(50% + var(--canvasTranslateY)*0.8) ;
  filter: blur(2px);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.canvas {
transform-style: preserve-3d;
transform: translateX(calc(var(--canvasTranslateX)*1.1)) translateY(var(--canvasTranslateY)) translateZ(0px);
filter: blur(0.6px);
  transition: transform 0.1s ;
}

.App {
  background: linear-gradient(to right, white,#411c1c);
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media  (max-width:999.98px) {
  .mainCont {flex-direction: column;}
}

@media screen and (min-width:800px) and (max-width:999.98px) {
  .outside {
    height: 50svh;
  }
}

@media (min-width: 500px) and (max-width: 799.98px) {
  .outside {
    height: 50svh;
    width: 50vw;
  }
}

@media (max-width:499.98px) {
  .outside {
    height: 50svh;
    width: 75vw;
  }
}

@media  screen and (min-width: 700px) and (max-width: 1000px) and (max-height: 1300px) {
  /* Для iPad (1, 2) в портретной ориентации */
  .outside {
    height: 50svh;
    width: 50vw;
  }
}



.soldierBoyCont::before {
  content: '';
  background-image: url('../src/Soldier-Boy-_-Guest-Appearance-on-Solid-Gold-1-33-screenshot-900x900.jpeg');
  background-position: calc(50% + var(--canvasTranslateX)*1.2) calc(50% + var(--canvasTranslateY)*0.8) ;
  filter: blur(2px);
  background-size: cover;
  width: 100%;
  height: 110%;
  position: absolute;
  z-index: -1;
  transform: translateZ(-100px);
}

.soldierBoy {
  transform: translateX(calc(var(--canvasTranslateX)*1.1)) translateY(var(--canvasTranslateY)) translateZ(0px);
  width: 100%;
  height: 110%;
  transition: transform 0.1s ;
  transform-style: preserve-3d;
}